h1{
    text-align: center;
    color: rgb(192, 125, 192);
}


.imagem-qualidade-software{
    width: 1080px;
    height: 1080px;
}


.button{
    width: 100px;
    height: 100px;
    background-color:  rgb(192, 125, 192);
    border: 1px beige;

}

.nome {
    color: white;
}