h1{
    text-align: center;
    color: blue;
}


.imagem-analise-ux{
    width: 1080px;
    height: 1080px;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.elementos {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px beige;

}

.nome {
    color: white;
}