h1 {
    text-align: center;
}

.imagem-robo{

}

.flex-container-juntar-imagem{
    position: relative;
    margin: 100px;
    padding: 5px;
    display: flex;
    -ms-layout-grid: ;
}


.button{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px beige;
}


.nome {
    color: white;
}
