h1 {
    text-align: center;
    color: rgb(197, 12, 12);
}

.img-seguranca-da-informacao {
    width: "300";
    height: "200";
}


.button {
    width: 100px;
    height: 100px;
    background-color: rgb(197, 12, 12);
    border: 1px beige;
   
}

.nome{
    color: white;
}