h1 {
    text-align: center;
    color: lightblue;
}


.img-gestao-de-projetos {}


.flex-container {
    display: flex;
    flex-direction: row;
}

.elementos {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px beige;

}

.nome {
    color: white;
}